.cardVitrineMission {
    box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.658);
    border: 1px solid rgb(145, 23, 23);
}

.cardVitrineMission .headerCard{
    background-color: rgb(145, 23, 23);
}

.cardVitrineMission .headerCard h3 {
    font-size: 54px;
    font-weight: 800;
    color: white;
}

.cardVitrineMission .bodyCard p {
    font-size: 24px;
    font-weight: 650;
    color: rgb(145, 145, 145);
}

.cardEquipe{
    color:white;
    background-color: rgba(148, 148, 148, 0.808);
}

.presentation .qui-somme-nous h4, .presentation .mission h4{
    font-weight: 650;
    color: rgb(138, 138, 138);
}
.presentation .qui-somme-nous p{
    font-weight: 450;
    color: rgb(138, 138, 138);
}