.articles #bloc{
    font-family: sans-serif;
    text-align: left;
    color: white;
}
  
.articles #bloc span{
    font-size:1.5em;
    background-color: gray;
    padding: 0px 1% 0.8% 1%;
    
}

.article a:hover, .article2 a:hover{
    text-decoration: none;
}
  
.articles #bloc{
    padding: 0px;
    border-bottom: 4px solid gray;
}

.article{
    box-shadow: 1px 1px 25px rgba(0,0,0,.2);
    border: 1px solid #c1c1c1;
}


.article2{
    box-shadow: 1px 1px 25px rgba(0,0,0,.2);
    border: 1px solid #c1c1c1;
    min-width: 230px;
    min-height: 290px;
}

.articles .date{
    background-color: rgba(133, 133, 133, 0.877);
    width:30%;
    color:white;

}

.article:hover .date, .article2:hover .date{
    background-color:#932824c2;
    transition:500ms;
}

.article2:hover h4, .article:hover h4, .article:hover h2, .article:hover .paragraphe-top{
    color: #932724;
    transition: 500ms;
}

.image-article, .image-article-top{
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-size: cover;
    width:100%;
    height:210px;
}

.paper-article{
    margin: 0px;
    background-color: rgb(255, 255, 255);
    width:100%;
    height: 100%;
    position: absolute;
}

.article-bottom{
    color: rgba(128, 128, 128, 0.808);
    font-size: 0.8em;
}

@media screen and (min-width: 300px) {
    .skeleton-article .article {
        min-width: 260px;
    }

    .article2{
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (min-width: 480px) {
    .skeleton-article .article {
        min-width: 400px;
    }

    .article2{
        min-width: 390px;
    }
}


@media screen and (min-width: 575px){
    .skeleton-article .article {
        min-width: 423px;
    }

    .article2{
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (min-width: 768px) {
    .skeleton-article .article {
        min-width: 720px;
    }

    .image-article-top{
        height: 400px;
    }

    .article2{
        margin-left: -15px;
        margin-right:-15px;
        min-width: 300px;
    }
}

@media screen and (min-width: 989px) {
    .skeleton-article .article {
        min-width: 495px;
    }

    .article2{
        min-width:235px;
    }
}

@media screen and (min-width:1200px){
    .skeleton-article .article {
        min-width: 600px;
    }

    .article2{
        min-width: 270px;
    }
}