.contact-section{
    box-shadow: 0px 2px 16px black;
}
  
.top-contact{
    color: white;
    margin-bottom: 10%;
}
  
.top-contact ul{
    list-style: none;
}

.contact .label-contact{
    font-size: 1.4em;
}

.formulaire-contact{
    margin-top: -100%;
}
  
.formulaire-contact input, .formulaire-contact .contact-information li{
    margin-bottom:10%;
}
  
.contact-information{
    background-image:url('../image/map.JPG');
    background-size: cover;
    background-position: center;
    padding:0%;
    color: white;
}
  
.contact-information .card-body{
    background-color:rgba(147, 40, 36, 0.884);
    width:100%;
}
  
.contact-information i{
    color:white;
    font-size: 1.2em;
}
  
.fond-contact{
    background-image: url('../image/maison-mda.jpg');
    background-position: center;
    background-size: cover;
    height:70vh;
    width: 100%;
}
  
.masque-contact{
    background: rgb(147,39,36);
    background: linear-gradient(180deg, rgba(94, 94, 94, 0.74) 0%, rgba(95, 95, 95, 0.74) 100%);
    width:100%;
    height: 100%;
}

@media screen and (min-width: 480px){
    .formulaire-contact{
        margin-top: -80%;
    }
}

@media screen and (min-width: 600px){
    .formulaire-contact{
        margin-top: -50%;
    }
}

@media screen and (min-width: 768px){
    .formulaire-contact{
        margin-top: -55%;
    }
}

@media screen and (min-width: 900px){
    .formulaire-contact{
        margin-top: -40%;
    }
}

@media screen and (min-width: 1200px){
    .formulaire-contact{
        margin-top: -35%;
    }
}

@media screen and (min-width: 1360px){
    .formulaire-contact{
        margin-top: -25%;
    }
}