.leftAccueil{
    margin: 0px;
    padding: 0px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.autre-video{
    padding: 2% 2%;
    z-index: 2;
}

.autre-video a{
    color:rgb(165, 165, 165);
    text-decoration: none;
}

.autre-video a:hover{
    color:#932724;
}

#fb-root {
     display: none;
}

.fb_iframe_widget, .fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
    width: 100% !important; 
}

@media screen and (max-width: 479px) {
    .leftAccueil{
        margin: 5% 0px;
    }

    .video{
        margin-top: 2%;
        width: 100%;
        max-width: 320px;
        margin-bottom: 10%;
    }

    .autre-video{
        padding:0px;
    }

    .facebook-480, .facebook-380{
        display: none;
    }
}

@media screen and (min-width: 480px) {
    .facebook-320, .facebook-380{
        display:none;
    }

    .facebook-480{
        display: block;
    }

    .video{
        margin-top: 2%;
        width: 100%;
        max-width: 480px;
    }
}

@media screen and (min-width: 768px) {
    .video{
        max-width: 480px;
    }

    .facebook-320{
        display: block;
    }

    .facebook-480{
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .facebook-480, .facebook-380{
        display: none;
    }

    .facebook-320{
        display: block;
    }

    .leftAccueil{
        justify-content: start;
    }

    .video{
        margin-top: 0px;
    }
}

@media screen and (min-width: 1200px) {
    .facebook-320, .facebook-480{
        display:none;
    }

    .facebook-380{
        display:block;
    }
}

@media screen and (min-width: 1600px) {
    .facebook-380{
        display:none;
    }

    .facebook-480{
        display: block;
    }
}