nav{
  background-color: white;
  box-shadow: 2px 4px 32px;
}

.navbar-brand img {
  width:20%;
}

.navbar-toggler{
  right: 0;
}

.container-logo{
  display:flex;
  flex-direction: row;
}

.navbar-brand{
  font-size: 1em;
}

.navbar-nav .nav-item .nav-link:hover, .navbar-nav .nav-item .nav-link:focus {
  text-decoration: none;
  color: #932724 !important;
    transition: 500ms;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .navbar-brand img {
    width:20%;
    margin-right:4%;
  }
}

@media screen and (min-width: 480px) {
  .navbar-brand img {
    width:12%;
    margin-right:2%;
  }
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}