.partenaire{
    width:100%;
    padding: 0px;
    margin-top: -2%;
}

.partenaire ul{
    list-style: none;
    display:flex;
    flex-direction: row;
    margin-left:0px;
    padding-left: 0px;
    justify-content: space-around;
    align-items: center;
}