#postuler {
    height:77.4vh;
    margin-top: 3%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#postuler .panel-heading{
    text-align: center;
    width: 100%;
}

#postuler img {
    width:40%;
}

#postuler form{
    margin-right: auto;
    margin-left: auto;
}

#postuler .btn{
    background-image: linear-gradient(90deg, #932724, #b82621);
}