.c-est-quoi {
    width:60%;
    margin-right: auto;
    margin-left: auto;
}

.c-est-quoi div{
    text-align: center;
}

.c-est-quoi a{
    font-size: 1.2em;
}

.c-est-quoi a:hover{
    text-decoration: none;
}

.serviceCivique{
    width:60%;
}