body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.animate__animated.animate__bounceInLeft, 
.animate__animated.animate__bounceInRight, 
.animate__animated.animate__bounceIn{
  --animate-duration: 2s;
}

a {
  color: black;
  text-decoration: none;
  font-weight: 700;
}

.sousCarousel{
  margin: 0px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.sousCarousel .row{
  justify-content: center;
  margin: 0px;
}

@media screen and(min-width: 1260px) {
  .sousCarousel .row{
    justify-content: space-between;
  }
}

@media screen and (min-width: 1600px) {
  .sousCarousel .row{
    width:130%; 
    margin-left:-15%; 
    justify-content: space-between;
  }
}